nav {
    background-color: $color-white;
    border-bottom: solid $color-grey-light;
    box-shadow: $shadow-light;

    ul {
        max-width: calc(100% - 300px);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        li {
            min-height: 100px;
            
            div.sbs{
                padding: 20px;
                display: flex;
                justify-content: space-around;
            }

            div.nav__span--active {
                min-height: 5px;
                width: 100%;
                border-radius: 5px;
                background-color: $color-orange;
                position: relative;
                top:20%;

                transition: 0.5s;
            }

            div.nav__span {
                width: 0%;
                transition: 0.5s;
            }
        }
    }
}