nav {
    background-color: $color-white;
    border-bottom: solid $color-grey-light 1px;
    box-shadow: $shadow-light;
    
    ul {
        display: flex;

        li {
            width: 229px;
            min-height: 100px;
            position:relative;
            
            a{
                height: 100%;
            }
            div:first-of-type{
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                    p{

                        padding: 10px;
                    }
            }
        }
    }
}